@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mountains+of+Christmas&display=swap");
body {
  font-family: "Great Vibes", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("fondo.jpg") center/cover no-repeat;
  overflow: hidden;
  position: relative;
}

button {
  width: 300px;
  height: 190px;
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  align-content: center;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.087);
  border-radius: 5%;
  border: #3c4142;
  cursor: pointer;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#modal-content {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  height: 60%;
  width: 54%;
  font-size: 26px;
  max-width: 80%; /* Ajusta el ancho m치ximo del modal */
  margin: 0 auto; /* Centra el modal en pantallas m치s grandes */
  overflow-y: auto; /* A침ade desplazamiento vertical si el contenido es demasiado largo */
  max-height: 80vh; /* Ajusta la altura m치xima para evitar que el modal sea demasiado largo */
}

#close-modal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

@keyframes snow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.snowflake {
  position: absolute;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  animation: snow 1s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.twinkling-light {
  position: absolute;
  background-color: #fdd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: twinkle 1s infinite;
}
